    <div id="header">
        <img src="__STATIC__/index/image/logo.png" id="logo">
        <ul id="menu">
            <li><a href="index.html">首页</a></li>
            <li><a href="community.html">共享社区</a></li>
            <li><a href="customization.html">个性定制</a></li>
            <li><a href=" ">猎人报告</a></li>
            <li><a href="aboutus.html">关于猎人</a></li>
        </ul>
        <ul id="login" >
            <li><a href="{:url('account/login/index')}">登录</a></li>
            <li><a href="{:url('account/register/index')}">注册</a></li>
        </ul>
    </div>