body{
	margin:auto;
	
}
.main{
	font-family:"Microsoft YaHei UI";
	width:1920px;
	margin:auto;
	
}
nav{
	width:100%;
	height:90px;
	background-color:3d7c9b;
}
.main-content{
	width:1660px;
	height:100px;
	position:relative;
	left:130px;

}
