body{
	margin:auto;
	
}
html{
	width:100%;
	overflow-x:hidden;
}
.main{
	font-family:"Microsoft YaHei UI";
	width:1920px;
	margin:auto;
	
}
.main-content{
	width:1660px;
	height:100px;
	position:relative;
	left:130px;

}
#header{
	width: 1920px;
	height:80px;
	background: url("../menu.png");
}
#menu {
	font:25px verdana, arial, sans-serif;
	position: relative;
	left: 300px;
	top:20px;

}
#menu, #menu li {
	list-style:none;
	padding:0;
	margin:0;
}
#menu li {
	float:left;
}
#menu li a {
	display:block;
	padding:8px 50px;
	color:whitesmoke;
	font-weight: bold;
	text-decoration:none;

}
#menu li a:hover {
	background:#146C9C;
	color:#fff;
	text-decoration:none;

}
#menu li a.last {
	border-right:0; /* 去掉左侧边框 */
}
#logo{
	width: 250px;
	height: 60px;
	position: absolute;
	top: 15px;
	left: 115px
}
#login{
	font:25px verdana, arial, sans-serif;
	position: relative;
	top:20px;
}
#login, #login li {
	list-style:none;
	padding:0;
	margin:0;
	font-family: NotoSansHans-Regular;
}
#login li {
	float:right;
}
#login li a {
	display:block;
	padding:8px 50px;
	color:whitesmoke;
	font-weight: bold;
	text-decoration:none;

}
#login li a:hover {
	background:#146C9C;
	color:#fff;
	text-decoration:none;

}
#login li a.last {
	border-right:0; /* 去掉左侧边框 */
}



#header{
    width: 1920px;
    height:80px;
    background: url("../image/menu.png");
}