html{
    width:100%;
    overflow-x:hidden;
}
body{
    margin:auto;

}
#total{
    position: absolute;
    left: 50px;
}
#header{
    width: 1920px;
    height:80px;
    background: url("../image/menu.png");
}
#menu {
    font:25px verdana, arial, sans-serif;
    position: relative;
    left: 300px;
    top:20px;

}
#menu, #menu li {
    list-style:none;
    padding:0;
    margin:0;
}
#menu li {
    float:left;
}
#menu li a {
    display:block;
    padding:8px 50px;
    color:whitesmoke;
    font-weight: bold;
    text-decoration:none;

}
#menu li a:hover {
    background:#146C9C;
    color:#fff;
    text-decoration:none;

}
#menu li a.last {
    border-right:0; /* 去掉左侧边框 */
}
#bg{
    width: 1920px;
    height: 940px;
    background: url("../image/bg.png");
}
#logo{
    width: 250px;
    height: 60px;
    position: absolute;
    top: 15px;
    left: 70px
}
#login{
    font:25px verdana, arial, sans-serif;
    position: relative;
    top:20px;
}
#login, #login li {
    list-style:none;
    padding:0;
    margin:0;
    font-family: NotoSansHans-Regular;
}
#login li {
    float:right;
}
#login li a {
    display:block;
    padding:8px 50px;
    color:whitesmoke;
    font-weight: bold;
    text-decoration:none;

}
#login li a:hover {
    background:#146C9C;
    color:#fff;
    text-decoration:none;

}
#login li a.last {
    border-right:0; /* 去掉左侧边框 */
}
#report{
    width: 1920px;
    height: 500px;
    background: white;
}
#rigth_icon{
    position: relative;
    top:50px;
    left: 180px;
    float: left;
}
.report_content{
    width:350px;
    height: 240px;
    box-shadow: 3px 3px 3px 3px #828282;
    position: relative;
    left: 145px;
    top: 130px;
}
.report_content:hover{
    transform: scale(1.2);
}
.blank{
    width:50px;
    height: 240px;
}
.report_pic{
    width:350px;
    height: 180px;
}
.content{
    width: 350px;
    height: 60px;
    background: whitesmoke;
}
.report_title{
    position: relative;
    top:10px;
    font-family: PingFang SC;
    font-size: 20px;
}
#icon_content{
    position: absolute;
    top:1055px;
    left:250px;
    font-size: 24px;
}
#bottom{
    width:1920px;
    background: #38546b;
    height: 200px;
    position: relative;
    top:0px;
}
#wechat{
    position: absolute;
    top:1600px;
    left: 177px;
}
#wechat_pic{
    display: none;
    position: absolute;
    top:1270px;
    left: 50px;
}
#weibo{
    position: absolute;
    top:1600px;
    left: 250px;
}
#weibo_pic{
    display: none;
    position: absolute;
    top:1270px;
    left: 123px;
}
#zhihu{
    position: absolute;
    top:1600px;
    left: 323px;
}
#zhihu_pic{
    display: none;
    position: absolute;
    top:1270px;
    left: 196px;
}
#us {
    font:18px verdana, arial, sans-serif;
    position: relative;
    left: 800px;
    top:80px;

}
#us, #us li {
    list-style:none;
    padding:0;
    margin:0;
}
#us li {
    float:left;
}
#us li a {
    display:block;
    padding:5px 20px;
    color:whitesmoke;
    font-weight: bold;
    text-decoration:none;
    border-right:2px solid #ffffff;
}
#us li a:hover {
    background:#146C9C;
    color:#fff;
    text-decoration:none;

}
#us li a.last {
    border-right:0; /* 去掉左侧边框 */
}
#online_contact{
    width: 100px;
    height: 100px;
    position: relative;
    left:1270px;
    top:15px;
}
#contact_content{
    position: relative;
    left:1150px;
    top:80px;
    font-size: 25px;
    color:white;
    font-family: 微软雅黑;
}
#copyright{
    width:1920px;
    height: 80px;
    background: #172832;
    position: absolute;
    top:1720px;
}
#copyright_content{
    text-align: center;
    color: grey;
}
