html{
    width:100%;
    overflow-x:hidden;
}
#total{
    position: absolute;
    left: 50px;
}
#header{
    width: 1920px;
    height:80px;
    background: url("../menu.png");
}
#menu {
    font:25px verdana, arial, sans-serif;
    position: relative;
    left: 300px;
    top:20px;

}
#menu, #menu li {
    list-style:none;
    padding:0;
    margin:0;
}
#menu li {
    float:left;
}
#menu li a {
    display:block;
    padding:8px 50px;
    color:whitesmoke;
    font-weight: bold;
    text-decoration:none;

}
#menu li a:hover {
    background:#146C9C;
    color:#fff;
    text-decoration:none;

}
#menu li a.last {
    border-right:0; /* 去掉左侧边框 */
}
#login{
    font:25px verdana, arial, sans-serif;
    position: relative;
    top:20px;
}
#login, #login li {
    list-style:none;
    padding:0;
    margin:0;
    font-family: NotoSansHans-Regular;
}
#login li {
    float:right;
}
#login li a {
    display:block;
    padding:8px 50px;
    color:whitesmoke;
    font-weight: bold;
    text-decoration:none;

}
#login li a:hover {
    background:#146C9C;
    color:#fff;
    text-decoration:none;

}
#login li a.last {
    border-right:0; /* 去掉左侧边框 */
}
#logo{
    width: 250px;
    height: 60px;
    position: absolute;
    top: 15px;
    left: 70px
}
#sidemenu_content li{
    list-style:none;
}
.low{
    width:400px;
    height: 120px;
    cursor:pointer;
}
.icon{
    position: relative;
    top:45px;
    left:100px;
}
.word{
    position: relative;
    top:5px;
    left:150px;
    font-size: 24px;
    color: gray;
}
#word1{
    color: black;
}
#low1{
    background: url("../关于猎人侧边栏_selected.png");
}
#company{
    position: absolute;
    top:200px;
    left: 30%;
}
#team{
    position: absolute;
    top:200px;
    left: 30%;
    display: none;
}
#work{
    position: absolute;
    top:200px;
    left: 30%;
    display: none;
}




#header{
    width: 1920px;
    height:80px;
    background: url("../image/menu.png");
}